{% extends 'panel/base.html' %}
{% load static %}
{% load custom_tags %}



{% block data %}
<div class="card shadow mb-4">
    <div class="card-header d-flex align-items-center">
        <h5 class="mr-auto m-0" style="display: flex; align-items: baseline;">
            <i style="margin-right: 10px" class="fa-solid fa-envelopes-bulk"></i>
             Товары
        </h5>
        <button class="btn btn-primary" onclick="addArticle()">Добавить позицию</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_goods_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered text-gray-700 dataTable no-footer" id="dataTable_goods" role="grid" aria-describedby="dataTable_goods_info" style="width: 100%;" width="100%" cellspacing="0">
                            <thead>
                                <tr style="font-size: 13px" role="row">
                                    <th class="font-weight-normal text-uppercase sorting">Номер</th>
                                    <th class="font-weight-normal text-uppercase sorting">Артикул</th>
                                    <th class="font-weight-normal text-uppercase sorting">Бренд</th>
                                    <th class="font-weight-normal text-uppercase sorting">Название</th>
                                    <th class="font-weight-normal text-uppercase sorting">Количество</th>
                                    <th class="font-weight-normal text-uppercase sorting">Цена</th>
                                    <th class="font-weight-normal text-uppercase sorting">Цена Польша</th>
                                    <th class="font-weight-normal text-uppercase text-right">Действия</th>
                                </tr>
                            </thead>
                            <tbody class="ui-sortable">
                                {% if articles %}
                                    {% for article in articles %}
                                    <tr class="ui-sortable-handle odd">
                                        <td class="text-left">
                                            <span class="text-gray-900 font-weight-bold">
                                                {{ article.number }}
                                            </span>
                                        </td>
                                        <td class="text-left text-gray-900">
                                            <span class="text-gray-900 font-weight-normal">
                                                {{ article.article }}
                                            </span>
                                        </td>
                                        <td class="text-left text-gray-900">
                                            <span class="text-gray-900 font-weight-normal">
                                                {{ article.manufacturer }}
                                            </span>
                                        </td>
                                        <td class="text-left text-gray-900">
                                            <span class="text-gray-900 font-weight-normal">
                                                {{ article.name }}
                                            </span>
                                        </td>
                                        <td class="text-left text-gray-900">
                                            <span class="text-gray-900 font-weight-normal">
                                                {{ article.quantity }}
                                            </span>
                                        </td>
                                        <td class="text-left text-gray-900">
                                            <span class="text-gray-900 font-weight-normal">
                                                {{ article.price }}
                                            </span>
                                        </td>
                                        <td class="text-left text-gray-900">
                                            <span class="text-gray-900 font-weight-normal">
                                                {{ article.price_poland }}
                                            </span>
                                        </td>
                                        <td class="text-right">
                                            <a href="{% url 'article_update' article.article_id %}" title="Редактировать" class="text-gray-900" style="cursor: pointer; margin: 10px">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </a>
                                            <a href="" title="Удалить" class="text-gray-900" style="cursor: pointer; margin: 10px">
                                                <i class="fa-sharp fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="addArticleModal" class="modal" style="display: none;">
            <div role="document" class="modal-dialog" style="min-width: 400px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="exampleModalLabel" class="modal-title">Добавить</h4>
                    </div>
                    <div class="modal-body">
                        <form class="css-1c1nuln" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Артикул</label>
                                <input type="text" value="" name="article" id="article" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Название</label>
                                <input type="text" value="" name="name" id="name" placeholder="Название" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="cars">Бренд</label>
                                <select name="manufacturer_id" id="manufacturer_id" class="form-control">
                                    {% for manufacturer in manufacturers %}
                                        <option value="{{manufacturer.manufacturer_id}}">{{manufacturer.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-success">Добавить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            
            function addArticle() {
                
                const modal = document.getElementById('addArticleModal');
                modal.style.display = "flex";
                window.addEventListener("click", function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                
                })
            };
    
        </script>
        <style>
            .modal-header {
                background: linear-gradient(#141e30, #243b55) no-repeat center center fixed;
            }
            .modal-body {
                box-shadow: 0 15px 25px rgba(0,0,0,.6);
            }
        </style>
</div>
{% endblock data %}