<!DOCTYPE html>
{% load static %}
{% load custom_tags %}

<html lang="en">
    <head>
        <base>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link href="{% static 'img/favicon.png' %}" rel="shortcut icon" type="image/x-icon">
        <link href="{% static 'img/favicon.png' %}" rel="icon" type="image/x-icon">
        <title>Панель управления</title>
        <!-- Custom fonts for this template-->
        <link href="{% static 'css/css.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <style>
            svg {
                width: 17px;
                margin-right: 5px;
            }

            .table-responsive {
                overflow-x: hidden;
            }

            .control-column {
                width: 24px;
            }

           @media only screen and (max-width: 1000px) {
                .table-responsive {
                    overflow-x: auto;
                }
            }
            .ui-sortable-handle.odd:hover {
                background-color: #f2f2f2;
            }

            .bot-active {
                border-bottom: 3px solid #2c8cd5;
            }
        </style>
        <style>
            {% block css_styles %} {% endblock css_styles %}
        </style>
        {% block end_header %} {% endblock end_header %}
    </head>
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="z-index: 13">
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                    <div class="sidebar-brand-icon mt-4">
                        <img src="{% static 'img/logotype.png' %}" id="logo" height="50">
                    </div>
                </a>
                <!-- Divider -->
                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'manufacturers' %}">
                        <i style="margin-right: 10px" class="fa-solid fa-envelopes-bulk"></i>
                        <span>Производители</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'articles' %}">
                        <i style="margin-right: 10px" class="fa-solid fa-store"></i>
                        <span>Товары</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="carsSections">
    		            <i style="margin-right: 10px" class="fa-solid fa-car"></i>
                        <span>Автомобили</span>
                    </a>
                    <div id="collapseTwoCar" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="py-2 mt-3 collapse-inner shadow">
                            <a class="collapse-item" href="{% url 'marks' %}">Марки</a>
                            <a class="collapse-item" href="{% url 'models' %}">Модели</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bots' %}">
    		            <i style="margin-right: 10px" class="fa-solid fa-robot"></i>
                        <span>Боты</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'olx' %}">
                        <i style="margin-right: 10px" class="fa-solid fa-money-bill"></i>
                        <span>OLX</span>
                    </a>
                </li>
            </ul>
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <nav class="navbar navbar-expand navbar-light bg-transparent topbar mb-4 static-top">
                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle px-2">
                        <i class="fa fa-bars" style="font-size: 19px;"></i>
                        </button>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li class="{{ message.tags }}">
                                        {{ message|safe }}
                                        <a href="#" class="close">✖</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown no-arrow show">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="mr-2 d-none d-lg-inline text-gray-800 font-weight-bold normal">
                                    {{ user.get_username }}
                                </span>
                                <img class="img-profile rounded-circle" src="{% static 'img/noavatar.png' %}">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div id="userDropdownMenu" class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="{% url 'logout' %}" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Выход
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        
                        <!-- DataTales Example -->
                            {% block data %} {% endblock data %}
                        {% if page_obj %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a class="enable" href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                            {% else%}
                                <li><a>&lt;</a></li>
                            {% endif %}
                            <li><a class="active">{{ page_obj.number }}</a></li>
                            {% if page_obj.has_next %}
                                <li><a class="enable" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                            {% else%}
                                <li><a class="disabled">&gt;</a></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                    
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="msg-result"></div>
        <style type="text/css">
            #cover {
            background-image: url("83afec4a2112b30.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size:cover;height: 120px;border:1px solid #009dda;border-radius:6px;display: block;
            }
        </style>
	<script src="https://kit.fontawesome.com/f5a0d45f13.js" crossorigin="anonymous"></script>
        <script>
            document.querySelector("#carsSections").onclick = function() {
                document.querySelector("#carsSections").classList.toggle("collapsed");
                document.querySelector("#collapseTwoCar").classList.toggle("show");
            }
            document.querySelector("#userDropdown").onclick = function () {
                document.querySelector("#userDropdownMenu").classList.toggle("show");
            }
            document.querySelector("#sidebarToggleTop").onclick = function () {
                document.querySelector("#accordionSidebar").style.display = "flex";
                window.addEventListener("click", function() {
                    if (event.target == document.querySelector("#accordionSidebar")) {
                        document.querySelector("#accordionSidebar").style.display = "none";
                    }
                })
            }
        </script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" integrity="sha256-yE5LLp5HSQ/z+hJeCqkz9hdjNkk1jaiGG0tDCraumnA=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            {% block js_script %} 

            {% endblock js_script %}
        </script>
        {% block end_html %} {% endblock end_html %}
    </body>
</html>
